
body {
    background-color: #E9E9E9;
    font-size: 18px;
    font-family: 'EncodeSans-Light', Arial, Helvetica, sans-serif;
}

strong {
    font-family: 'EncodeSans-Regular', Arial, Helvetica, sans-serif;
}

p,
a { 
    line-height: 1.4em;
}

h1,
h2, h3, h4, h5, h6, li {
    line-height: 1.1em;
}

@media (max-width: 640px) {
    p {
        margin-bottom: 20px;
    }
}

a {
    display: inline-block;
    color: #FF2D55;
}

a:hover {
    text-decoration: underline;
    color: black;
}

h1 {
    font-family: 'Comfortaa-Regular', Arial, sans-serif;
    font-size: 45px;
}

h2 {
    font-family: 'Comfortaa-Thin', Arial, sans-serif;
    font-size: 27px;
    padding-bottom: 4px;
}

h3 {
    font-family: 'EncodeSans-Bold', Arial, sans-serif;
    font-size: 18px;
}

li {
    font-family: 'EncodeSans-Regular', Arial, Helvetica, sans-serif;
    font-size: 18px;
}

li.active {
    font-family: 'EncodeSans-Medium', Arial, Helvetica, sans-serif;
}

img {
    margin: 28px 0 28px 0;
}

button,
.button {
    font-family: 'EncodeSans-Medium', Arial, Helvetica, sans-serif;
    margin: 0 0 1.25em;
    text-align: center;
    display: inline-block;
    padding: 0.4em 0.7em;
    font-size: 18px;
    background-color: white;
    color: #FF2D55;
    -moz-border-radius: 4px / 4px;
    -webkit-border-radius: 4px 4px;
    border-radius: 4px / 4px;
}

.button:hover {
    text-decoration: none;
    background-color: black;
    color: white;
}

#navigation-wrapper a {
    color: white;
}

#navigation-wrapper .button {
    color: black;
}

#navigation-wrapper .button:hover {
    color: white;
}

#navigation-wrapper ul#navigation-email {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}

.header-wrapper {
    background-image: url("../img/banner.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #FF2D55;
    padding-top: 24px;
    padding-bottom: 12px;
    border-top: 10px solid black;
}

@media (max-width: 1024px) {
    .header-wrapper {
        background-size: 150%;
    }
}

@media (max-width: 640px) {
    .header-wrapper {
        background-size: auto 150%;
    }

    header {
        text-align: center;
    }
}

#navigation-wrapper nav#navigation {
    margin-top: 8px;
}

#navigation-wrapper nav#navigation ul {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}

#navigation-wrapper nav#navigation ul li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    float: left;
    padding-left: 4px;
    padding-right: 4px;
}

#header-content > h1 {
    color: white;
}

#header-content > h2 {
    color: white;
}

.content-wrapper {
    background-color: white;
    padding-top: 24px;
}

.content-wrapper a {
    font-family: 'EncodeSans-Medium', Arial, Helvetica, sans-serif;
}

.content-wrapper h2 {
    padding-top: 8px;
}

@media (max-width: 640px) {
    .content-wrapper {
        padding-top: 12px;
    }
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 1024px) {
    aside {
        text-align: center;
    }
}

@media (min-width: 641px) {
    .show-for-small-only {
        display: none;
    }
}

aside img {
    width: 233px;
    margin: 0 0 28px 0;
}

@media (max-width: 1024px) {
    aside {
        padding-bottom: 24px;
    }

    aside img {
        width: 184px;
    }
}

@media (max-width: 640px) {
    hr {
        margin: 0px 0px 24px 0px;
    }

    aside {
        padding-bottom: 8px;
    }
}

#footer-wrapper {
    background-image: url("../img/footer.gif");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0px;
}

@media (max-width: 1024px) {
    #footer-wrapper {
        background-size: 150%;
    }
}

@media (max-width: 640px) {
    #footer-wrapper {
        background-size: auto 150%;
    }
}

#footer-wrapper footer {
    margin: 40px 0 40px 0;
    text-align: center;
}

#footer-wrapper footer > ul {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    width: 80%;
    margin: 0 10% 6em 10%;
}

#footer-wrapper footer > ul li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    float: left;
    padding-left: 4px;
    padding-right: 4px;
}

#footer-wrapper footer > ul li:first-child {
    padding-left: 0;
}

#footer-wrapper footer > ul li:last-child {
    padding-right: 0;
}

#footer-wrapper footer > ul li.last {
    padding-right: 0;
}

#footer-wrapper footer > ul li {
    width: 50%;
    margin: 0;
    padding: 0;
}

#footer-wrapper footer > ul li a img {
    margin: 0 auto;
}

#footer-wrapper footer > ul li.linkedin {
    margin-top: 28px;
}

#footer-wrapper footer > ul li.github {
    margin-top: 28px;
}

/* line 549, /srv/timmyomahony.com/timmyomahony.com/_assets/stylesheets/app.scss */
#footer-wrapper footer > a {
    font-family: "Din Rounded Pro", "Helvetic", Arial, sans-serif;
}

@media (max-width: 640px) {
    #footer-wrapper {
        margin-top: 0em;
    }

    #footer-wrapper footer {
        margin: 20px 0 20px 0;
    }

    #footer-wrapper footer > ul {
        margin-bottom: 48px;
    }

    #footer-wrapper footer > ul li {
        width: 100%;
    }
}

object {
    pointer-events: none;
}
